
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg2">
	<div class="container">
		<section class="footer-bottom row">
			<div class="col-sm-6"> 
				<p> Made with <3 <br>  por Tulio Faria</p>
			</div>
			<div class="col-sm-6">
				<p class="text-sm-right">
Copyright &copy 2019 <br>
<a href="https://devpleno.com">DevShop - DevPleno</a>
				</p>
			</div>
		</section> <!-- //footer-top -->
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->


</body>
</html>